@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --TextColor: #111517;
  --BackGroundColor: #fafafa;
  --HeaderBackGroundColor: #fff;
  --TextAndIconInInput: #c4c4c4;
}
[data-theme="dark"] {
  --TextColor: #fff;
  --BackGroundColor: #202c36;
  --HeaderBackGroundColor: #2b3844;
  --TextAndIconInInput: #fff;
}
body {
  background-color: var(--BackGroundColor);
}
